.slect-fields-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  padding: 100px 0px 100px;
  background-image: url("/icons/Vector.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-heaidng {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 572px) {
  .slect-fields-wrapper{
    display: flex;
    justify-content: center;
  }

  .form-heaidng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown {
  width: 230px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  padding: 8px 40px;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.field-icon{
  position: absolute;
  left: 12px;
  margin-top: -2px;
}
.select-arrow{
  font-size: 20px;
  position: absolute;
  right: 14px;
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 50px;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 60px;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.search-btn{
  width: 230px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background-color: #162C53;
  color: #CABB78;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.search-btn:hover{
  background-color: #10213f;
}